<%= error_messages_for 'comment' %>

<% unless comments.blank? %>
<p><%= f.label :parent_comment, 'Parent comment' %><br />
  <%= f.text_field :parent_comment %>
</p>

<% end %>
<p><%= f.label :title, 'Title' %><br />
  <%= f.text_field :title %>
</p>

<p><%= f.label :body, 'Your comment' %><br />
  <%= f.text_area :body, :rows => 10 %>
</p>

<% if logged_in? and ! current_user.guest? %>
<p>You are logged in as <%= current_user.name %>.
<% else %>
<% if logged_in? and current_user.guest? %>
  <p class="notice">You are logged in with a guest account, so if you fill out this user data
    we will update your account and send you an email to confirm your account.</p>
<% end %>
<p><%= f.label :user_name, 'Name (required)' %><br />
  <%= f.text_field :user_name %>
</p>
<p><%= f.label :user_email, 'E-Mail (required)' %><br />
  <%= f.text_field :user_email %>
</p>
<p><%= f.label :user_website, 'Website' %><br />
  <%= f.text_field :user_website %>
</p>
<% end %>
<p>
<%= f.check_box :subscribed %><%= f.label :subscribed, 'Send me an email on new comments' %>
</p>

