<%= error_messages_for 'post' %>

<p><%= f.label :title, 'Title' %><br />
  <%= f.text_field :title %>
</p>
<p><%= f.label :excerpt, 'Excerpt (not required)' %><br />
  <%= f.text_area :excerpt, :rows => 3 %>
</p>
<p><%= f.label :body, 'Body (you can use textilize as markup in your post)' %> <br />
  <%= f.text_area :body %>
</p>
<p><%= f.label :tag_list, 'Tags' %><br />
  <%= f.text_field :tag_list %>
</p>
<p><%= f.label :published_at, 'Publish post at' %><br />
  <%= f.datetime_select :published_at %>
</p>
<% if current_user.moderator? %>
<p>
  <%= f.check_box :published %> <%= f.label :published, 'Post is published' %>
</p>
<% end %>
