<h1>New post</h1>

<%= error_messages_for :post %>

<% form_for(:post, @post, :url => posts_url) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  
  <% unless logged_in? %>
  <fieldset>
  <legend>Your data</data>
  <p>You are not logged in but if you already have an account, you may <%= link_to 'login', login_url %> first. If you don't have an account yet, you can type in your email address and <em>we will create an account for you</em>.</p>
  <% fields_for :user do |fu| %>
  <p><%= fu.label :name, 'Name' %><br />
    <%= fu.text_field :name %>
  </p>
  <p><%= fu.label :email, 'E-Mail' %><br />
    <%= fu.text_field :email %>
  </p>
  <p><%= fu.label :website, 'Website' %><br />
    <%= fu.text_field :website %>
  </p>
  <% end %>
  </fieldset>
  <% end %>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
