<% @page_title = @post.title %>
<div class="post">
<div class="meta">
  posted by <%= link_to h(@post.user.name), user_url(@post.user) %> on <%= @post.published_at.to_formatted_s(:long) %><br />
  tags: <span class="tags"><%= @post.cached_tag_list %></span>
  </div>
  <%= textilize(@post.excerpt) %>
  <%= textilize(@post.body) %>

<div id="comments">
<h3>Comments</h3>
<% if @post.comments.published.empty? %>
  <p>No comments so far</p>
<% else %>
  <%= render :partial => '/comments/comment', :collection => @post.comments.published %>
<% end %>
</div>
<h3>New comment</h3>

<% form_for :comment, @comment, :url => post_comments_url(@post), :method => :post do |f| %>
  <%= render :partial => '/comments/form', :locals => {:f => f, :comments => @post.comments.published} %>
  <%= submit_tag 'Save comment' %>
<% end %>
</div>