<%= error_messages_for 'site' %>
<%= error_messages_for 'asset' %>

<p><%= f.label :title, 'Title' %><br />
  <%= f.text_field :title %>
</p>
<p><%= f.label :url, 'URL' %><br />
  <%= f.text_field :url %>
</p>
<p><%= f.label :owner, 'Owner' %><br />
  <%= f.text_field :owner %>
</p>

<p><%= f.label :description, 'Description' %><br />
  <%= f.text_area :description %>
</p>

<p><%= f.label :tag_list, 'Tags' %><br />
  <%= f.text_field :tag_list %>
</p>

<% if current_user and current_user.moderator? %>
<p>
  <%= f.check_box :published %> <%= f.label :published, 'Post is published' %>
</p>
<% end %>

<% fields_for :asset do |fa| %>
<fieldset>
  <legend>Screenshots</legend>
<div id="assets">
<% @site.assets.each do |asset| %>
  <div class="asset tiny edit">
  <%= link_to image_tag(asset.public_filename(:tiny)), asset.public_filename %><br />
  <%= link_to 'delete', site_asset_url(@site, asset), :method => :delete %>
  </div>
<% end %>
</div>
</fieldset>
<fieldset>
  <legend>Upload a new file</legend>
  <%= fa.file_field :uploaded_data %>
</fieldset>
<% end %>