<div class="site" id="site-<%= site.id %>">
  <div class="asset thumb">
    <%= link_to image_tag(site.thumbnail_filename), site unless site.thumbnail_filename.blank? %>
  </div>
  <h3><%= link_to h(site.title), site %></h3>

  <%= textilize(site.description) %>

  <%= link_to site.url_short, site.url %> //
  <%= link_to pluralize(site.comments_count, 'comment'), site_path(site) + '#comments' %>
</div>
