<% @page_title = 'sites administration' %>

<% @sites.each do |site| %>
  <div id="site-<%= site.id%>" class="<%= 'featured ' if site.featured? %><%= 'published' if site.published? %>"><%= link_to h(site.title), site %> <%= link_to h(site.url_short), site.url %> by <%= link_to site.user.name, user_url(site.user_id) %> on <%= site.created_at.to_s(:long) %> is <%= 'not' unless site.published? %> published and has <%= pluralize(site.comments_count, 'comment') %><br />
  <% unless site.published %>
  <%= link_to 'publish', publish_site_url(site), :method => :put %> |
  <% end %>
  <%= link_to site.featured? ? 'featured' : 'not featured', featured_site_url(site), :method => :put %> |
  <%= link_to 'edit', edit_site_url(site) %> | 
  <%= link_to 'delete', site_url(site), {:method => :delete, :confirm => 'Sure you want to delete this?'} %>
  </div>
<% end %>
