<% @page_title = h(@site.title) %>
<div class="site">
<div class="body"><%= textilize(@site.description) %></div>

<div class="meta">
  submitted by <%= link_to h(@site.user.name), user_url(@site.user) %> on <%= @site.created_at.to_s(:long) %>.
</div>

<% @site.assets.each do |asset| %>
  <%= image_tag asset.public_filename(:thumb) %>
<% end %>
</div>

<div id="comments">
<h3>Comments</h3>
<% if @site.comments.empty? %>
  <p>No comments so far</p>
<% else %>
  <%= render :partial => '/comments/comment', :collection => @site.comments %>
<% end %>
</div>
<h3>New comment</h3>

<% form_for :comment, @comment, :url => site_comments_url(@site), :method => :site do |f| %>
  <%= render :partial => '/comments/form', :locals => {:f => f, :comments => @site.comments} %>
  <%= submit_tag 'Save comment' %>
<% end %>
