<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title><%= site_title %></title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="plasticpilots is showcasing great webdesign" />
  <meta name="author" content="plasticpilots.com" />
  <meta name="keywords" content="plasticpilots,webdesign,showcases,design,inspiration,<%= yield :keywords %>" />
	
  <meta name="robots" content="all" />
  <link title="Sites" type="application/atom+xml" href="<%= formatted_sites_url(:format => :atom)%>" rel="alternate" />
  <link title="Blog" type="application/atom+xml" href="<%= formatted_posts_url(:format => :atom)%>" rel="alternate" />

  <link rel="stylesheet" href="/goldberg/stylesheets/goldberg.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />

</head>

<body id="c-<%= h(params[:controller]) %>">

<div id="header">

  <h1><a href="/" title="back to home-page">plasticpilots</a></h1>

  <div id="top_navigation">
    <ul>
      <li><%= link_to_unless_current 'sites', sites_url %></li>
      <li><%= link_to_unless_current 'blog', posts_url %></li>
      <li>about</li>
<!--      <li>casteljau</li>
      <li>community</li>-->
      <% if current_user %>
      <li><%= link_to 'profile', profile_url %></li>
        <% if current_user.moderator? %>
      <li>dashboard</li>
        <% end %>
        <% if current_user.admin? %>
      <li><%= link_to 'admin', '/site_admin' %></li>
        <% end %>
      <li><%= link_to 'logout', logout_url %></li>
      <% else %>
      <li><%= link_to 'login', login_url %></li>
      <li><%= link_to 'signup', signup_url %></li>
      <% end %>
    </ul>
      <%= render :partial => 'navigation' if %w(posts sites).include?(params[:controller]) %>
  </div>

</div>

<div id="container">
<div id="col-main">
<div id="col-left">


<a name="top"></a>
<div id="wrap-main">
<div id="main">
<% if @page_title %>
  <h2><%= @page_title %></h2>
<% end %>
<% flash.each do |type, message| %>
  <div class="<%= type %>">
    <%= message %>
  </div>
<% end %>

<%= yield %>
</div>
</div> <!-- end wrap-main // main -->


<div id="left">
<% if %w(sites posts).include?(params[:controller]) %>
  <%= render :partial => 'sidebar_left'  %>
<% else %>
  <%= render :partial => '/front/sidebar_left' %>
<% end %>
  <%= goldberg_left_menu %>
  &nbsp;
</div> <!-- end left -->

<div id="right">
  <% cache('sites-sidebar') do %>
    <%= render :partial => '/sites/sidebar_right' %>
  <% end %>
  </div> <!-- end right -->
</div>
</div>
</div> <!-- #col-main and #col-left -->

<div id="footer">
<ul>
  <li><a href="#top">^ top</a></li>
  <li><a href="/">home</a></li>
  <li><%= link_to 'RSS blog', formatted_posts_url(:format => :atom) %></li>
  <li><%= link_to 'RSS sites', formatted_sites_url(:format => :atom) %></li>
  <li>powered with <a href="http://github.com/TomK32/plasticairships/" title="plasticairships is the software behind plasticpilots and best of all, it's open source!">plasticairships</a></li>
</ul>  
<%= Goldberg.settings.footer_message %>
</div>
</body>
</html>